<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The mission statement of the Seventh-day Adventist Church is to make disciples of Jesus Christ who live as His loving witnesses and proclaim to all people the everlasting gospel of the Three Angels' Messages in preparation for His soon return -  (Matt 28:18-20, Acts 1:8, Rev 14:6-12)">
  <meta name="keywords" content="Angels, Rev 14, Mathew, Acts, Gospel, Message, Proclaim">
  <link rel="shortcut icon" type="image/svg" href="images/logo/sda-logo3.svg"/>

  <title>SDA - Delta Conference | Event</title>
  <link href="//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
   <link rel="stylesheet" href="/css/style-starter.css">
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">   
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <h1><a class="navbar-brand" href="/">
          <!-- <span class="sub-log">In</span>dustrie -->
        </a></h1>
      <a class="navbar-brand" href="/">
          <img src= "images/logo/sda-logo.png" />
      </a>
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Our Church <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/belief">Beliefs</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="/worship">Worship Centres</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/event">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a href="tel: +2348089590470" class="btn btn-style btn-primary">+2348089590470</a>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
       
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container py-1">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->

  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Events</li>
      </ul>
    </div>
  </section>
  <!--/services-->
  

<!--//services-->
  <section class="w3l-portfolio-8 py-5">

    <div class="portfolio-main py-md-5 py-3">
      <div class="container">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-titlehny"></h6>
          <h3 class="hny-title"></h3>
          <p class="my-3"> Missionary Activities: Hospital and Prison MInistry, Community Service</p>
          </div>
        <div class="row galler-top mt-lg-5 mt-4">
          <div class="col-md-4 protfolio-item hover14">
            <a href="images/service.jpg" data-lightbox="example-set" class="mb-4"
              data-title="">
              <figure>
                <img src="images/service.jpg" alt="misionary" class="img-fluid">
              </figure>
            </a>
            <a href="images/home_fumigation.jpg" data-lightbox="example-set" class="mb-md-0 mb-4" data-title="">
              <figure>
                <img src="images/home_fumigation.jpg" alt="misionary" class="img-fluid">
            </figure>
            </a>
          </div>
          <div class="col-md-4 protfolio-item hover14">
            <a href="images/washing.jpg" data-lightbox="example-set" class="mb-4"
              data-title="">
              <figure>
                <img src="images/washing.jpg" alt="misionary" class="img-fluid">
              </figure>
            </a>
            <a href="images/rally.jpg" data-lightbox="example-set" class="mb-md-0 mb-4" data-title="">
              <figure>
                <img src="images/rally.jpg" alt="" class="img-fluid">
              </figure>
            </a>
          </div>
          <div class="col-md-4 protfolio-item hover14">
            <a href="images/team.jpg" data-lightbox="example-set" class="mb-4"
              data-title="">
              <figure>
                <img src="images/team.jpg" alt="" class="img-fluid">
              </figure>
            </a>
            <a href="images/work.jpg" data-lightbox="example-set" data-title="">
              <figure>
                <img src="images/work.jpg" alt="" class="img-fluid">
              </figure>
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="w3l-portfolio-8 py-5">
      <div class="portfolio-main py-md-5 py-3">
        <div class="container">
          <div class="row galler-top mt-lg-5 mt-4">
            <div class="col-md-4 protfolio-item hover14">
              <a href="images/truck.jpg" data-lightbox="example-set" class="mb-4"
                data-title="">
                <figure>
                  <img src="images/truck.jpg" alt="misionary" class="img-fluid">
                </figure>
              </a>
              <a href="images/delivery_truck.jpg" data-lightbox="example-set" class="mb-md-0 mb-4" data-title="">
                <figure>
                  <img src="images/delivery_truck.jpg" alt="misionary" class="img-fluid">
                </figure>
              </a>
            </div>
            <div class="col-md-4 protfolio-item hover14">
              <a href="images/home_service.jpg" data-lightbox="example-set" class="mb-4"
                data-title="">
                <figure>
                  <img src="images/fumigation.jpg" alt="misionary" class="img-fluid">
                </figure>
              </a>
              <a href="images/fumigation.jpg" data-lightbox="example-set" class="mb-md-0 mb-4" data-title="">
                <figure>
                  <img src="images/work2.jpg" alt="misionary" class="img-fluid">
                </figure>
              </a>
            </div>
            <div class="col-md-4 protfolio-item hover14">
              <a href="images/work2.jpg" data-lightbox="example-set" class="mb-4"
                data-title="">
                <figure>
                  <img src="images/loading.jpg" alt="" class="img-fluid">
                </figure>
              </a>
              <a href="images/home_service.jpg" data-lightbox="example-set" data-title="">
                <figure>
                  <img src="images/home_service.jpg" alt="" class="img-fluid">
                </figure>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

  </section>
  
 
  <!--//grids-->

  <!--//w3l-footer-29-main-->
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
            <h6 class="footer-title-29">SDA - DELTA CONFERENCE</h6>
            <p>Seventh-day Adventists affirm the Bible as God’s infallible revelation of His will, accepting its authority in the life of the Church and of each believer, and its foundational role for faith and doctrine. Seventh-day Adventists believe that the Holy Spirit is the power that transforms lives and equips people with abilities to advance God’s kingdom in this world. We accept the Bible as the only creed and hold fundamental beliefs rooted from the Holy Scripture. These beliefs, constitute the church’s understanding and expression of the teaching of Scripture.</p>
            <div class="main-social-footer-29 mt-4">
              <a href="https://facebook.com/sdadeltaconference" class="facebook"  target="_blank"><span class="fa fa-facebook"></span></a>
              <a href="https://twitter.com/sdadeltaconference" class="twitter"  target="_blank"><span class="fa fa-twitter"></span></a>
              <a href="https://instagram.com/sdadeltaconference" class="instagram"  target="_blank"><span class="fa fa-instagram"></span></a>
             <a href="whatsapp://send?text=Hi, I'd love to know more about your service, I am reaching you from your official webpage!&phone=+2347033646059" class="whatsapp" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29">District</h6>
            <ul>
              <li><a href="/contact">Abraka District</a></li>
              <li><a href="/contact">Asaba District</a></li>
              <li><a href="/contact">Effurun District</a></li>
              <li><a href="/contact">Ekpan District</a></li>
              <li><a href="/contact">Dsc District</a></li>
              <li><a href="/contact">Great Hope District</a></li>
              <li><a href="/contact">Ika District</a></li>
              <li><a href="/contact">Isoko District</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">
             <h6 class="footer-title-29">Head Quarters</h6>
             <ul>
               <li><a href="/contact">Ndokwa District</a></li>
               <li><a href="/contact">Orogun District</a></li>
               <li><a href="/contact">Oshimilli District</a></li>
               <li><a href="/contact">Riverine District</a></li>
               <li><a href="/contact">Sapele District</a></li>
               <li><a href="/contact">Udu District</a></li>
               <li><a href="/contact">Ughelli District</a></li>
               <li><a href="/contact">Warri District</a></li>
              </ul>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Us</h6>
            <ul>
              <li>
                <p><span class="fa fa-map-marker"></span>#6, Onoriji Street, off Jakpa Road, by Cane Wood Hotel, Uvwie L.G.A, Delta State.</p>
              </li>
              <li><a href="tel:+2348064107055"><span class="fa fa-phone"></span> +234-806-410-7055</a></li>
              <li><a href="mailto:sdadeltaconference@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                  sdadeltaconference@gmail.com</a></li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7942.002392904724!2d5.7490337456527945!3d5.566837295267541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041ad19b9f3cc5f%3A0xbaab9bf485a2783c!2sSeventh%20Day%20Adventist%20Church%20Ekpan!5e0!3m2!1sen!2sng!4v1700837181348!5m2!1sen!2sng" width="99%" height="210" style="border:0; margin: 20px 20px 5px 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          
          </div>
        </div>
    </div>
    <!-- </div> -->
  </section>

  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">© <span id="date"></span> &nbsp;| &nbsp; <span> Seventh-day Adventist Church, Delta Conference. All rights reserved.</span> &nbsp; | &nbsp; <span>Powered by: Ajiozi</span>&nbsp;
          <a href="https://linkedin.com/in/ajioz" target="_blank" style="color: #70b5fa; font-size: large;" class="fa fa-linkedin"></a>
        </p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>

  <!-- Template JavaScript -->
  <script src="js/jquery-3.3.1.min.js"></script>

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="js/theme-change.js"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <script src="js/lightbox-plus-jquery.min.js"></script>
  <!-- libhtbox -->
  <script src="js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->

  <!-- stats number counter-->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script>
      document.getElementById('date').innerHTML = new Date().getFullYear();
  </script>
  <script src="js/bootstrap.min.js"></script>


</body>

</html>