<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The mission statement of the Seventh-day Adventist Church is to make disciples of Jesus Christ who live as His loving witnesses and proclaim to all people the everlasting gospel of the Three Angels' Messages in preparation for His soon return -  (Matt 28:18-20, Acts 1:8, Rev 14:6-12)">
  <meta name="keywords" content="Angels, Rev 14, Mathew, Acts, Gospel, Message, Proclaim">
  <link rel="shortcut icon" type="image/svg" href="images/logo/sda-logo3.svg"/>

  <title>SDA - Delta Conference | Home</title>
  <link href="//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
   <link rel="stylesheet" href="/css/style-starter.css">
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">   
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <h1><a class="navbar-brand" href="/">
          <!-- <span class="sub-log">In</span>dustrie -->
        </a></h1>
      <a class="navbar-brand" href="/">
        <img src= "images/logo/sda-logo.png" />
      </a>
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Our Church <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/belief">Beliefs</a>
            </li>
           <li class="nav-item">
              <a class="nav-link" href="/worship">Worship Centres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a href="tel: +2348089590470" class="btn btn-style btn-primary">+2348089590470</a>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
       
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container py-1">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->

  <!-- main-slider -->
  <section class="w3l-main-slider" id="home">
    <div class="companies20-content">
      <div class="owl-one owl-carousel owl-theme">
        <div class="item">
          <li>
            <div class="slider-info banner-view bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Our Mission</h5>
                    <p class="mt-4 pr-lg-4">Make disciples of Jesus Christ who live as His loving witnesses and proclaim to all people the everlasting gospel of the Three Angels’ Messages in preparation for His soon return (Matt 28:18-20, Acts 1:8, Rev 14:6-12).</p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/worship"> Worship Centres</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/contact"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info  banner-view banner-top1 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Our Vision</h5>
                    <p class="mt-4 pr-lg-4">In harmony with Bible revelation, Seventh-day Adventists see as the climax of God’s plan the restoration of all His creation to full harmony with His perfect will and righteousness.</p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/worship"> Worship Centres</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/contact"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top2 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Our Method</h5>
                    <p class="mt-4 pr-lg-4">Guided by the Bible and the Holy Spirit, Seventh-day Adventists pursue this mission through Christ-like living, communicating, discipling, teaching, healing, and serving.</p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/worship"> Worship Centres</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/contact"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
        <div class="item">
          <li>
            <div class="slider-info banner-view banner-top3 bg bg2">
              <div class="banner-info">
                <div class="container">
                  <div class="banner-info-bg">
                    <h5>Our Identity</h5>
                    <p class="mt-4 pr-lg-4">The Seventh-day Adventist Church sees itself as the remnant Church of end-time Bible prophecy. Members of the Church, individually and collectively, understand their special role as ambassadors of God’s kingdom and messengers of the soon return of Jesus Christ. </p>
                    <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/worship"> Worship Centres</a>
                    <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/contact"> Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </div>
      </div>
      <div class="arrow-downhny">
        <a href="#about" class="arrow-down text-center position-absolute">
          <span class="arrow-down-icon">
            <span class="fa fa-arrow-down"></span>
          </span>
        </a>
      </div>
    </div>
  </section>
  <!-- /main-slider -->

  <!--/grids-->
  <section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5 py-3">
      <div class="row bottom-ab-grids align-items-center">

        <div class="col-lg-6 bottom-ab-left">
          <h6 class="sub-titlehny">Seventh-day Adventist Church</h6>
          <h3 class="hny-title"><font color="006400">IDENTITY,</br> AND IMPLEMENTATION, OF</br>OUR MISSION </font></h3>
          <h6 class="sub-titlehny">Our Identity</h6>
          <p class="my-3"> The Seventh-day Adventist Church sees itself as the remnant Church of end-time Bible prophecy. Members of the Church, individually and collectively, understand their special role as ambassadors of God’s kingdom and messengers of the soon return of Jesus Christ. Seventh-day Adventists have enlisted as co-workers with God in His mission of reclaiming the world from the power and presence of evil, as part of the Great Controversy between Christ and Satan.</p>
          <p>Therefore, every aspect of a Church member’s life is influenced by the conviction that we live in the last days described in Bible prophecy and the return of Jesus Christ is imminent. Seventh-day Adventists are called by God to live in this world. Every action of the Christian life is done “in the name of Jesus” and to advance His kingdom.</p>
        </div>
        <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-3 pl-lg-4">
          <h6 class="sub-titlehny">Implementation of Our Mission</h6>
          <p>Therefore, every aspect of a Church member’s life is influenced by the conviction that we live in the last days described in Bible prophecy and the return of Jesus Christ is imminent. Seventh-day Adventists are called by God to live in this world. Every action of the Christian life is done “in the name of Jesus” and to advance His kingdom.</p>
          <p class="mt-3"> Called by God, guided by the Bible, and empowered by the Holy Spirit, Seventh-day Adventists, wherever we live in the world, devote ourselves to:</p><br>
          <ol>
            <li><strong>Christ-Like Living</strong>   —Illustrating the lordship of Jesus in our lives by moral, ethical, and social behaviors that are consistent with the teachings and example of Jesus.</li>
            <li>Christ-Like Communicating—Realizing that all are called to active witness, we share through personal conversation, preaching, publishing, and the arts, the Bible’s message about God and the hope and salvation offered through the life, ministry, atoning death, resurrection, and high priestly ministry of Jesus Christ.</li><br>
            <li><strong>Christ-Like Discipling</strong>—Affirming the vital importance of continued spiritual growth and development among all who accept Jesus as Lord and Savior, we nurture and instruct each other in righteous living, provide training for effective witness, and encourage responsive obedience to God’s will.</li><br>
            <li><strong>Christ-Like Teaching</strong> —Acknowledging that development of mind and character is essential to God’s redemptive plan, we promote the growth of a mature understanding of and relationship to God, His Word, and the created universe.</li><br>
            <li><strong>Christ-Like Healing</strong> —Affirming the biblical principles of the well-being of the whole person, we make healthful living and the healing of the sick a priority and through our ministry to the poor and oppressed, cooperate with the Creator in His compassionate work of restoration.</li><br>
            <li><strong>Christ-Like Serving</strong> —Following the example of Jesus we commit ourselves to humble service, ministering to individuals and populations most affected by poverty, tragedy, hopelessness, and disease.</li>
          </ol>
          <p>This statement was voted by the General Conference of Seventh-day Adventists Executive Committee at the Annual Council Session in Silver Spring, Maryland on October 13, 2014.</p>
        </div>

      </div>
     
    </div>
      
  <!--//grids-->
  
  <!--/w3l-faq-block-->
  <div class="w3l-cwp4-sec py-5">
    <div class="container py-md-5 py-3">
      <div class="cwp4-two row align-items-center">
       <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
         <img src="images/church.jpg" class="img-fluid" alt="">
          <img src="images/sda_church.jpg" class="img-fluid" alt="">
        </div>
        <div class="cwp4-text col-lg-6">
          <h6 class="sub-titlehny">GLOBALIZATION</h6>
          <h3 class="hny-title"><font color="#006400">THE SEVENTH-DAY</br> ADVENTIST CHURCH </br>IS A GLOBAL FAMILY</font> </h3>
        
          <p>With a membership of over 21 million in 13 regions of the world, you’re sure to find an Adventist congregation, school, hospital, ministry or administrative office nearby. The denomination is organized in such a way that members around the globe can efficiently work together and empower each other for united ministry. </p></br></br></br>

          <h3>UNITED IN MISSION TO MAKE DISCIPLES OF CHRIST</h3>
         <P>The Seventh-day Adventist Church’s official mission statement is to “make disciples of Jesus Christ who live as His loving witnesses and proclaim to all people the everlasting gospel of the Three Angels’ Messages in preparation for His soon return (Matthew 28:18-20, Acts 1:8, Revelation 14:6-12).”
        The organizational structure of the Church has been developed with this primary objective in mind. In order to successfully accomplish the mission laid out by Jesus in Matthew 28: 18-20, members, ministries, and institutions serve within their calling, collaborate together, and share their resources so no part of the world has to be without help and support.

        In the spirit of the Early Church (Acts 15:2, 6), challenges and decisions are addressed as a family of representative leaders—from the local church board to administrative councils composed of church representatives from across the globe.

        This well-organized internal structure helps ensure—though only with the blessing and guidance of the Holy Spirit—that Seventh-day Adventist Church members can effectively proclaim the Gospel message of our Savior Jesus, who gives us freedom, healing and hope, in their communities and throughout the world.</P>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  
  <!--//w3l-faq-block-->
  
    <!--//projects-->
  <!-- stats -->
  <section class="w3l-stats-about">
        <div class="main-w3 py-5">
            <div class="container py-md-5 py-3">
                <div class="row align-items-center">
                    <div class="col-lg-6 title">
                        <h3 class="hny-title"><font color="006400">Churches within </br> Delta State Conference</font></h3>
                        <p class="mt-4">The following shows a high level overview of the conference strength, which is an indicator of its goal to fulfilling God's purpose on earth.  We are co-labourers in the vineyard of God. While this statistic represent the current status-quo of the conference church and membership, we shall continually update the information found as represented.</p>
                    </div>
                    <div class="col-lg-6 main-cont-wthree-fea text-lg-center mt-lg-0 mt-5">
                        <div class="row pl-lg-4">
                            <div class="col-lg-6 col-md-3 col-6">
                                <div class="grids-speci1">
                                    <h3 class="title-spe"><font color="006400">16+</font></h3>
                                    <p>Districts</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-6">
                                <div class="grids-speci1">
                                    <h3 class="title-spe"><font color="006400">80+</font></h3>
                                    <p>Churches</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-6 mt-lg-5 mt-md-0 mt-5">
                                <div class="grids-speci1">
                                    <h3 class="title-spe"><font color="006400">65+</font></h3>
                                    <p>Evangelist </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-3 col-6 mt-lg-5 mt-md-0 mt-5">
                                <div class="grids-speci1">
                                    <h3 class="title-spe"><font color="006400">500,000+</font></h3>
                                    <p>Membership</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
  </section>

  <!-- Sub slider -->
  <div class="container py-md-4 py-3 text-center">
      <div class="header-section text-center mx-auto">
        <h3 class="hny-title">Looking for a free,</br>Bible Study to lead you through God’s Word? </h3>
          <p class="mt-4">As Seventh-day Adventists, our promise is to help our friends understand the Bible to find freedom, healing and hope in Jesus. If you would like to experience this kind of relationship with Jesus and learn more about His plans for you, we’ve selected a variety of Bible studies to get you started.</p>
      </div>
    <!-- //stats -->

    <!-- sliders -->
    <section class="w3l-testimonials py-5" id="testimonials">
      <div class="container py-md-4 mb-md-0 mb-md-5 mb-4">
        <div class="owl-testimonial owl-carousel owl-theme">
          <div class="item">
              <div class="slider-info">
                <div class="main-bx">
                    <div class="secn-bx">
                      <div>
                        <img id="img-bx" src="/images/bible-study.webp" />
                      </div>
                      <div class="headr-name">Group Bible Study</div>
                      <p class="hdr-pr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                        sodales morbi dignissim sed diam pharetra vitae ipsum odio Lorem ipsum
                        dolor sit..
                      </p>
                      <a href="/contact" style="margin: 40px auto;">Get Engaged</a>
                    </div>
                </div>
              </div>
          </div>

          <div class="item">
              <div class="slider-info">
                <div class="main-bx">
                    <div class="secn-bx">
                      <div>
                        <img id="img-bx" src="/images/conference.jpg" />
                      </div>
                      <div class="headr-name">Bible Study Conference</div>
                      <p class="hdr-pr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                        sodales morbi dignissim sed diam pharetra vitae ipsum odio Lorem ipsum
                        dolor sit..
                      </p>
                      <a href="/contact" style="margin: 40px auto;">Get Engaged</a>
                    </div>
                </div>
              </div>
          </div>

          <div class="item">
              <div class="slider-info">
                <div class="main-bx">
                    <div class="secn-bx">
                      <div>
                        <img id="img-bx" src="/images/two-two.png" />
                      </div>
                      <div class="headr-name">Personalize Bible Study</div>
                      <p class="hdr-pr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                        sodales morbi dignissim sed diam pharetra vitae ipsum odio Lorem ipsum
                        dolor sit..
                      </p>
                      <a href="/contact" style="margin: 40px auto;">Get Engaged</a>
                    </div>
                </div>
              </div>
          </div>
          <div class="item">
              <div class="slider-info">
                <div class="main-bx">
                    <div class="secn-bx">
                      <div>
                        <img id="img-bx" src="/images/serminar.jpg" />
                      </div>
                      <div class="headr-name">Bible Worker Training</div>
                      <p class="hdr-pr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                        sodales morbi dignissim sed diam pharetra vitae ipsum odio Lorem ipsum
                        dolor sit..
                      </p>
                      <a href="/contact" style="margin: 40px auto;">Get Engaged</a>
                    </div>
                </div>
              </div>
          </div>
          <div class="item">
              <div class="slider-info">
                <div class="main-bx">
                    <div class="secn-bx">
                      <div>
                        <img id="img-bx" src="/images/revelation2.jpg" />
                      </div>
                      <div class="headr-name">Revelation Expository</div>
                      <p class="hdr-pr">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur
                        sodales morbi dignissim sed diam pharetra vitae ipsum odio Lorem ipsum
                        dolor sit..
                      </p>
                      <a href="/contact" style="margin: 40px auto;">Get Engaged</a>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /main-slider -->

    <!--/w3l-bottom-->
    <section class="conference-officer">
      <h3>conference executive officers</h3>
      <div class="executive">
      <div class="office-card">
        <img id="photo" src="/images/Opeke.jpg" />
        <h4 class="name">Pst Amos Opeke  </h4>
        <p class="office">Conference Secretary</p>
      </div>
      <div class="office-card" style="box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.5);">
        <img id="photo" src="/images/Arebun.jpg" />
        <h4 class="name">Pst. Joshua Arebun </h4>
        <p class="office">Conference President</p>
      </div>
      <div class="office-card">
        <img id="photo" src="/images/Daniel.jpg" />
        <h4 class="name">Elder Daniel Edafe</h4>
        <p class="office">Conference Treasurer</p>
      </div>
      </div>
    </section>
  </div>
  <!--//w3l-bottom-->

   <!--//w3l-footer-29-main-->
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
            <h6 class="footer-title-29">SDA - DELTA CONFERENCE</h6>
            <p>Seventh-day Adventists affirm the Bible as God’s infallible revelation of His will, accepting its authority in the life of the Church and of each believer, and its foundational role for faith and doctrine. Seventh-day Adventists believe that the Holy Spirit is the power that transforms lives and equips people with abilities to advance God’s kingdom in this world. We accept the Bible as the only creed and hold fundamental beliefs rooted from the Holy Scripture. These beliefs, constitute the church’s understanding and expression of the teaching of Scripture.</p>
            <div class="main-social-footer-29 mt-4">
              <a href="https://facebook.com/sdadeltaconference" class="facebook"  target="_blank"><span class="fa fa-facebook"></span></a>
              <a href="https://twitter.com/sdadeltaconference" class="twitter"  target="_blank"><span class="fa fa-twitter"></span></a>
              <a href="https://instagram.com/sdadeltaconference" class="instagram"  target="_blank"><span class="fa fa-instagram"></span></a>
             <a href="whatsapp://send?text=Hi, I'd love to know more about your service, I am reaching you from your official webpage!&phone=+2347033646059" class="whatsapp" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29">District</h6>
            <ul>
              <li><a href="/contact">Abraka District</a></li>
              <li><a href="/contact">Asaba District</a></li>
              <li><a href="/contact">Effurun District</a></li>
              <li><a href="/contact">Ekpan District</a></li>
              <li><a href="/contact">Dsc District</a></li>
              <li><a href="/contact">Great Hope District</a></li>
              <li><a href="/contact">Ika District</a></li>
              <li><a href="/contact">Isoko District</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">
             <h6 class="footer-title-29">Head Quarters</h6>
             <ul>
               <li><a href="/contact">Ndokwa District</a></li>
               <li><a href="/contact">Orogun District</a></li>
               <li><a href="/contact">Oshimilli District</a></li>
               <li><a href="/contact">Riverine District</a></li>
               <li><a href="/contact">Sapele District</a></li>
               <li><a href="/contact">Udu District</a></li>
               <li><a href="/contact">Ughelli District</a></li>
               <li><a href="/contact">Warri District</a></li>
              </ul>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Us</h6>
            <ul>
              <li>
                <p><span class="fa fa-map-marker"></span>#6, Onoriji Street, off Jakpa Road, by Cane Wood Hotel, Uvwie L.G.A, Delta State.</p>
              </li>
              <li><a href="tel:+2348064107055"><span class="fa fa-phone"></span> +234-806-410-7055</a></li>
              <li><a href="mailto:sdadeltaconference@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                  sdadeltaconference@gmail.com</a></li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7942.002392904724!2d5.7490337456527945!3d5.566837295267541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041ad19b9f3cc5f%3A0xbaab9bf485a2783c!2sSeventh%20Day%20Adventist%20Church%20Ekpan!5e0!3m2!1sen!2sng!4v1700837181348!5m2!1sen!2sng" width="99%" height="210" style="border:0; margin: 20px 20px 5px 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          
          </div>
        </div>
    </div>
    <!-- </div> -->
  </section>

  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">© <span id="date"></span> &nbsp;| &nbsp; <span> Seventh-day Adventist Church, Delta Conference. All rights reserved.</span> &nbsp; | &nbsp; <span>Powered by: Ajiozi</span>&nbsp;
          <a href="https://linkedin.com/in/ajioz" target="_blank" style="color: #70b5fa; font-size: large;" class="fa fa-linkedin"></a>
        </p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>

  <!-- Template JavaScript -->
  <script src="js/jquery-3.3.1.min.js"></script>

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="js/theme-change.js"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <script src="js/lightbox-plus-jquery.min.js"></script>
  <!-- libhtbox -->
  <script src="js/owl.carousel.js"></script>

  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->

  <!-- stats number counter-->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>

  
  <!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script>
      document.getElementById('date').innerHTML = new Date().getFullYear();
  </script>
  <script src="js/bootstrap.min.js"></script>

</body>

</html>