<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="The mission statement of the Seventh-day Adventist Church is to make disciples of Jesus Christ who live as His loving witnesses and proclaim to all people the everlasting gospel of the Three Angels' Messages in preparation for His soon return -  (Matt 28:18-20, Acts 1:8, Rev 14:6-12)">
  <meta name="keywords" content="Angels, Rev 14, Mathew, Acts, Gospel, Message, Proclaim">
  <link rel="shortcut icon" type="image/svg" href="images/logo/sda-logo3.svg"/>

  <title>SDA - Delta Conference | Worship</title>
  <link href="//fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
   <link rel="stylesheet" href="/css/style-starter.css">
</head>

<body>
  <!--header-->
  <header id="site-header" class="fixed-top">   
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark stroke">
        <h1><a class="navbar-brand" href="/">
          <!-- <span class="sub-log">In</span>dustrie -->
        </a></h1>
      <a class="navbar-brand" href="/">
          <img src= "images/logo/sda-logo.png" />
      </a>
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
          </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Our Church <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/belief">Beliefs</a>
            </li>
           <li class="nav-item active">
              <a class="nav-link" href="/worship">Worship Centres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/event">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="top-quote ml-lg-4 mt-lg-0 mt-3">
              <a href="tel: +2348089590470" class="btn btn-style btn-primary">+2348089590470</a>
            </li>
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
       
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container py-1">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->

  <div class="inner-banner">
  </div>
  <section class="w3l-breadcrumb">
    <div class="container">
      <ul class="breadcrumbs-custom-path">
        <li><a href="/">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Worship Centers</li>
      </ul>
    </div>
  </section>
  <!--/services-->
  
  <!--//w3l-services3-->
   <!--/grids-->
   <section class="w3l-grids-3 py-5">
    <div class="container py-md-5 py-3">

      <div class="row bottom-ab-grids align-items-center">
        <div class="col-lg-6 bottom-ab-left">
          <h6 class="sub-titlehny">SEVENTH-DAY ADVENTIST CHURCH - Delta Conference Online Directory</h6>
          <p class="my-3"> Use the following directories to search for up-to-date information on churches, schools, hospitals, bookstores, libraries, ministry organizations, universities, administrative offices, missions, orphanages, radio stations and more. </p>
        </div>
        <div class="col-lg-6 bottom-ab-right mt-lg-0 mt-3 pl-lg-4">
          <div class="faq-image">
            <img src="images/directory2.jpg" class="img-fluid" alt="">
            </br></br>
          </div>
        </div>
      </div>
      
      <div class="directory">
        
        <div class="left">
          <div class="upper-left">
            <div class="chip">
              <img src="images/Ezekiel.jpg" class="upper-left-left" alt="">
              <div class="chip-name">
                <h6>Pst Ezekiel Arebun</h6>
                <p>District Pastor</p>
              </div>
            </div>
            <div class="upper-left-right">
              <h3>Asaba District HQ</h3>
            </div>
          </div>

          <div class="lower-left">
            <div class="lower-left-left">
              <h3>SDA Church, <br>Asaba</h3>
              <div class="line"></div><br>
              <h5>Address</h3>
              <p>#8, Edward Udorah Street ,</p>
              <p>off DLA Road,</p>
              <p>off Summit Road</p>
              <p>Asaba, Delta State</p>
              <p>Nigeria</p>
              <a href="tel:+234-8034906874;" style="color: black;"><span class="fa fa-phone"></span> &nbsp; 234-8034906874</a>
            </div>
            <div class="lower-left-right">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.4805371168095!2d6.711160370891586!3d6.200158513131533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1043f28498b15ab1%3A0xe94ff293af46c75d!2sSeventh-day%20Adventist%20Church%2C%20Asaba!5e0!3m2!1sen!2sng!4v1701287491163!5m2!1sen!2sng" width="100%" height="395px" style="border:0; margin: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="upper-right">
            <h5>Churches within Asaba District</h5>
          </div>
          <div class="lower-right">
            <div class="local-church">
              <div class="church-name">SDA Church, Asaba.</div>
              <div class="church-address">#8, Edward Udorah Street off DLA Road, Asaba.</div>
              <a  class="contact" href="tel:+234-8033431301;" style="color: black;">Eld: Chisom N.<br><span class="fa fa-phone"></span>2348033431301</a>
              <img src="images/Chisom.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Ibusa<span>&nbsp;</span></div>
              <div class="church-address">Zion Road, Okponta Quarters, Ibusa.</div>
              <a  class="contact" href="tel:+234-8037458222;" style="color: black;">Eld. Anthony A.<br><span class="fa fa-phone"></span>2348037458222</a>
              <img src="images/Tony.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Okpanam</div>
              <div class="church-address">Fidelis Nduka Str, off GRA phase II, (Behind NewEra Pry Sch), Okp.</div>
              <a  class="contact" href="tel:+234-803 270 8216;" style="color: black;">Eld Ejiro O.<br><span class="fa fa-phone"></span>234-8032708216</a>
              <img src="images/Ejiro.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Ugbolu</div>
              <div class="church-address">Ogbe Iyase Quarters, Ugbolu.</div>
              <a  class="contact" href="tel:+234-9136435417;" style="color: black;">Eld Felix U.<br><span class="fa fa-phone"></span>2349136435417</a>
              <img src="images/Felix.jpg" alt="">
            </div>
            <div class="local-church" style="height: fit-content;">
              <div class="church-name">SDA Church, Ogwashi-ukwu</div>
              <div class="church-address">Polytechnic Rd, Opp Adaigbo Sec Sch, behind Dynamic Women Health care Centre, Ogwashi-Uku</div>
              <a  class="contact" href="tel:+234-8037632635;" style="color: black;">Pst Ojugbeli I.<br><span class="fa fa-phone"></span>2348037632635</a>
              <img src="images/Immanuel.jpg" >
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Okwe<span>&nbsp;&nbsp;</span><span>&nbsp;&nbsp;</span> </div>
              <div class="church-address">#4, Umuofo Quarters, Igala camp, Okwe</div>
              <a  class="contact" href="tel:+234-8032561356;" style="color: black;">Eld James O.<br><span class="fa fa-phone"></span>2348032561356</a>
              <img src="images/Ozurumba.jpg" alt="">
            </div>
          </div>
        </div>

      </div> 

      <div class="directory">
        <div class="left">
          <div class="upper-left">
            <div class="chip">
              <img src="images/james.jpg" class="upper-left-left" alt="">
              <div class="chip-name">
                <h6>Pst James Edo</h6>
                <p>District Pastor</p>
              </div>
            </div>
            <div class="upper-left-right">
              <h3>Effurun District HQ</h3>
            </div>
          </div>

          <div class="lower-left">
            <div class="lower-left-left">
              <h3>SDA Church, <br>Kodesoh</h3>
              <div class="line"></div><br>
              <h5>Address</h3>
              <p>#10 Kodesoh Street,</p>
              <p>off Sokoh Estate Rd,</p>
              <p>off Airport Road</p>
              <p>Effurun, Delta State</p>
              <p>Nigeria</p>
              <a href="tel:+234-07036371337;" style="color: black;"><span class="fa fa-phone"></span> &nbsp; 234-07036371337</a>
            </div>
            <div class="lower-left-right">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63539.201484357545!2d5.738679393123803!3d5.537315460234143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041ad9df455604b%3A0x668068d3a24aa357!2sKodeso%20Seventh%20Day%20Adventist%20Church%20Sokoh%20Estate!5e0!3m2!1sen!2sng!4v1701233705634!5m2!1sen!2sng" width="100%" height="395px" style="border:0; margin: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="upper-right">
            <h5>Churches within Effurun District</h5>
          </div>
          <div class="lower-right">
            <div class="local-church">
              <div class="church-name">SDA Church, Kodesoh.</div>
              <div class="church-address">#10 Kodesoh Str,off Sokoh Estate Road, Effurun.</div>
              <a  class="contact" href="tel:+234-08037588201;" style="color: black;">Eld. Joseph F.<br><span class="fa fa-phone"></span>2348037588201</a>
              <img src="images/Joseph.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, OviePalace</div>
              <div class="church-address">#6 Airoboyi Str,off Ovie-Palace Road, Effurun.</div>
              <a  class="contact" href="tel:+234-8035458902;" style="color: black;">Eld. Izuakolam S.<br><span class="fa fa-phone"></span>2348035458902</a>
              <img src="images/simeon.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Ugbomro I.</div>
              <div class="church-address">#11, Cornerstone School, Okuatata-Ugbmoro,  Effurun.</div>
              <a  class="contact" href="tel:+234-8035036523;" style="color: black;">Eld. Kingsley E.<br><span class="fa fa-phone"></span>2348035036523</a>
              <img src="images/Egbo.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Ugbomro II.</div>
              <div class="church-address">Pipeline, off FUPRE, Ugbomro, Effurun.</div>
              <a  class="contact" href="tel:+234-8064107055;" style="color: black;">Deac. Sunday A.<br><span class="fa fa-phone"></span>2348064107055</a>
              <img src="images/sunny.jpg" alt="">
            </div>
          </div>
        </div>

      </div> 
         
      <div class="directory">
        <div class="left">
          <div class="upper-left">
            <div class="chip">
              <img src="images/Opeke.jpg" class="upper-left-left" alt="">
              <div class="chip-name">
                <h6>Pst Amos Opeke</h6>
                <p>District Pastor</p>
              </div>
            </div>
            <div class="upper-left-right">
              <h3>Warri District HQ</h3>
            </div>
          </div>

          <div class="lower-left">

            <div class="lower-left-left">
              <h3>SDA Church, <br>Odibo</h3>
              <div class="line"></div><br>
              <h5>Address</h3>
              <p>#23, Odibo Street,</p>
              <p>off Lower Erejuwa road,</p>
              <p>Warri, Delta State</p>
              <p>Nigeria</p>
              <a href="tel:+234-08060628159;" style="color: black;"><span class="fa fa-phone"></span> &nbsp; 234-08060628159</a>
            </div>

            <div class="lower-left-right">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63540.90868608444!2d5.683599321679682!3d5.521413300000009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041b2972fd041c7%3A0x52e8a6b7e12655fe!2sSeventh%20Day%20Adventist%20Church%20-%20Odibo!5e0!3m2!1sen!2sng!4v1701203181421!5m2!1sen!2sng"  width="100%" height="395px" style="border:0; margin: 0;"allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

          </div>
        </div>

        <div class="right">
          <div class="upper-right">
            <h5>Churches within Warri District</h5>
          </div>
          <div class="lower-right">
            <div class="local-church">
              <div class="church-name">SDA Church, Odibo.</div>
              <div class="church-address">#23, Odibo Street, off Lower Erejuwa road, Warri</div>
              <a  class="contact" href="tel:+234-8065414386;" style="color: black;">Eld. Raymond A.<br><span class="fa fa-phone"> &nbsp;</span>2348055351743</a>
              <img src="images/Raymond.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Okumagba.</div>
              <div class="church-address">#11, Atila Str, off Edjemudarho Str Okumagba layout, Warri</div>
              <a  class="contact" href="tel:+234-08035844846;" style="color: black;">Eld. Esharive<br><span class="fa fa-phone"></span>2348035844846</a>
              <img src="images/Eshavire.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Mciver.</div>
              <div class="church-address">Off Stadium road, Warri</div>
              <a  class="contact" href="tel:+234-8060199330;" style="color: black;">Eld Iwegbue<br><span class="fa fa-phone"></span>2348060199330</a>
              <img src="images/Iwegbue.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church, Ekrede Urhobo.</div>
              <div class="church-address">by former Jacob Bakery, town hall Off Ekerede Urhobo, Warri</div>
              <a  class="contact" href="tel:+234-8136332336;" style="color: black;">Eld Abiyere<br><span class="fa fa-phone"></span>2348136332336</a>
              <img src="images/Abiyere.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church,  Sido/Iyara.</div>
              <div class="church-address">Onoriobe Street by Akara Junction, Iyara Area, Warri</div>
              <a  class="contact" href="tel:+234-8034028341;" style="color: black;">Eld. Umoru T.<br><span class="fa fa-phone"></span>2348034028341</a>
              <img src="images/Thomas.jpg" alt="">
            </div>
            <div class="local-church">
              <div class="church-name">SDA Church,  Maryland.</div>
              <div class="church-address"> Maryland Group of Sch, Mudiaga Odje Str, off Okumagba Av, Warri</div>
              <a  class="contact" href="tel:+234-9159775958;" style="color: black;">Bro Michael A.<br><span class="fa fa-phone"></span>2349159775958</a>
              <img src="images/Michael.jpg" alt="">
            </div>
          </div>
        </div>
      </div> 

    </div>
  </section>
  
 
  <!--//grids-->

  <!--//w3l-footer-29-main-->
  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
            <h6 class="footer-title-29">SDA - DELTA CONFERENCE</h6>
            <p>Seventh-day Adventists affirm the Bible as God’s infallible revelation of His will, accepting its authority in the life of the Church and of each believer, and its foundational role for faith and doctrine. Seventh-day Adventists believe that the Holy Spirit is the power that transforms lives and equips people with abilities to advance God’s kingdom in this world. We accept the Bible as the only creed and hold fundamental beliefs rooted from the Holy Scripture. These beliefs, constitute the church’s understanding and expression of the teaching of Scripture.</p>
            <div class="main-social-footer-29 mt-4">
              <a href="https://facebook.com/sdadeltaconference" class="facebook"  target="_blank"><span class="fa fa-facebook"></span></a>
              <a href="https://twitter.com/sdadeltaconference" class="twitter"  target="_blank"><span class="fa fa-twitter"></span></a>
              <a href="https://instagram.com/sdadeltaconference" class="instagram"  target="_blank"><span class="fa fa-instagram"></span></a>
             <a href="whatsapp://send?text=Hi, I'd love to know more about your service, I am reaching you from your official webpage!&phone=+2347033646059" class="whatsapp" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-list-29 footer-3 mt-lg-0 mt-5">
            <h6 class="footer-title-29">District</h6>
            <ul>
              <li><a href="/contact">Abraka District</a></li>
              <li><a href="/contact">Asaba District</a></li>
              <li><a href="/contact">Effurun District</a></li>
              <li><a href="/contact">Ekpan District</a></li>
              <li><a href="/contact">Dsc District</a></li>
              <li><a href="/contact">Great Hope District</a></li>
              <li><a href="/contact">Ika District</a></li>
              <li><a href="/contact">Isoko District</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">
             <h6 class="footer-title-29">Head Quarters</h6>
             <ul>
               <li><a href="/contact">Ndokwa District</a></li>
               <li><a href="/contact">Orogun District</a></li>
               <li><a href="/contact">Oshimilli District</a></li>
               <li><a href="/contact">Riverine District</a></li>
               <li><a href="/contact">Sapele District</a></li>
               <li><a href="/contact">Udu District</a></li>
               <li><a href="/contact">Ughelli District</a></li>
               <li><a href="/contact">Warri District</a></li>
              </ul>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
            <h6 class="footer-title-29">Contact Us</h6>
            <ul>
              <li>
                <p><span class="fa fa-map-marker"></span>#6, Onoriji Street, off Jakpa Road, by Cane Wood Hotel, Uvwie L.G.A, Delta State.</p>
              </li>
              <li><a href="tel:+2348064107055"><span class="fa fa-phone"></span> +234-806-410-7055</a></li>
              <li><a href="mailto:sdadeltaconference@gmail.com" class="mail"><span class="fa fa-envelope-open-o"></span>
                  sdadeltaconference@gmail.com</a></li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7942.002392904724!2d5.7490337456527945!3d5.566837295267541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041ad19b9f3cc5f%3A0xbaab9bf485a2783c!2sSeventh%20Day%20Adventist%20Church%20Ekpan!5e0!3m2!1sen!2sng!4v1700837181348!5m2!1sen!2sng" width="99%" height="210" style="border:0; margin: 20px 20px 5px 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          
          </div>
        </div>
    </div>
    <!-- </div> -->
  </section>

  <section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
      <div class="bottom-copies">
        <p class="copy-footer-29 text-center">© <span id="date"></span> &nbsp;| &nbsp; <span> Seventh-day Adventist Church, Delta Conference. All rights reserved.</span> &nbsp; | &nbsp; <span>Powered by: Ajiozi</span>&nbsp;
          <a href="https://linkedin.com/in/ajioz" target="_blank" style="color: #70b5fa; font-size: large;" class="fa fa-linkedin"></a>
        </p>
      </div>
    </div>

    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>

  <!-- Template JavaScript -->
  <script src="js/jquery-3.3.1.min.js"></script>

  <!-- script for testimonials -->
  <script>
    $(document).ready(function () {
      $('.owl-testimonial').owlCarousel({
        loop: true,
        margin: 0,
        nav: true,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script for testimonials -->

  <script src="js/theme-change.js"></script>

  <!-- js for portfolio lightbox -->
  <!-- libhtbox -->
  <script src="js/lightbox-plus-jquery.min.js"></script>
  <!-- libhtbox -->
  <script src="js/owl.carousel.js"></script>
  <!-- script for banner slider-->
  <script>
    $(document).ready(function () {
      $('.owl-one').owlCarousel({
        loop: true,
        margin: 0,
        nav: false,
        responsiveClass: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplaySpeed: 1000,
        autoplayHoverPause: false,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          480: {
            items: 1,
            nav: false
          },
          667: {
            items: 1,
            nav: true
          },
          1000: {
            items: 1,
            nav: true
          }
        }
      })
    })
  </script>
  <!-- //script -->

  <!-- stats number counter-->
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script>
      document.getElementById('date').innerHTML = new Date().getFullYear();
  </script>
  <script src="js/bootstrap.min.js"></script>


</body>

</html>